@tailwind base;
@tailwind components;
@tailwind utilities;
/* ===== Scrollbar CSS ===== */
  /* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #a791ac #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}
/*  */
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #8892b0;
  border-radius: 10px;
}

.glass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
